body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}

input, select, button {
    width: 90%;
    padding: 10px;
    margin: 10px;
}
